.floatee {
    height: 64px;
    width: 64px;
    font-size: 32px;
    position: fixed;
    bottom: 6%;
    right: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.356);
    -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
}

.icon {
    height: auto;
    width: auto;
    position: relative;
}